---
---

@import "{{ site.theme }}";

img.pulse {
  max-width: 15%;
  font-size: 21px;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1.2;
  color: #fff;
}

a.button-pulse {
  position: absolute;
  top: 0;
  right: 0;
}

h1.pulse-header{
  width: 940px;
}

pulse-background {
  background-image: url("assets/images/pulse.png");
}

.partners {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  max-width: 61rem;
  justify-content: space-between;
}

.partner {
  display: flex;
  padding: 30px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.logo-dark {
  background-color: #333333;
}

a.menu-item {
  font-size: 25px;
}

a.menu-item-active {
  font-size: 25px;
  font-weight: bold;
}
